<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Gaining Experience to Care for Your Pet</h2>
    </div><div class="panel-body">
        <h3>The Office Today</h3>
        Dr. Tawnie Bailey, Dr. James Duchow and the team of 12, maintain the high-level of service Alpine Animal Hospital has been known for since its founding in the 1970s. Let our friendly and knowledgeable staff cater to your pet's needs.
        <h3>BIO INFO:</h3>
        <p>
            Dr. Tawnie Bailey grew up in Seattle and knew from a young age that she would either work at a grocery store,
            where all the chocolate lived, or become a veterinarian. Despite her chocolate addictions,
            she chose veterinary medicine and began volunteering at a vet clinic in 1986. She remained at the
            clinic until she graduated from highschool and moved to Pullman to pursue her dreams. In 1996, she graduated with her B.S.
            in Zoology and married Jeff Bailey.
        </p>
        <p>
            After working at a Spokane Valley vet clinic for four years and attending more
            than three years of college at EWU, she finally received the coveted acceptance letter into WSU's veterinary school.
            Dr. Bailey has been practicing at Alpine Animal Hospital since graduating from vet school in 2004. She and her
            husband are constantly trying to entertain their two daughters and keep their dog comfy.
            They have loved four amazing golden retrievers, two cats, and more than three dozen foster kittens since joining Alpine.
        </p>

        <p>Dr. Jim Duchow grew up in Brookfield, Wisconsin. Upon his graduation from Brookfield East High School, he continued his education at the University of Wisconsin-Madison.  After just three years, Dr. Duchow completed his undergraduate work. In order to achieve his goals of becoming a veterinarian, he decided to attend the veterinary school at UW-Madison immediately following his graduation.</p>
    </div>
</div>