<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Experience Staff to Care for Your Pet</h3>
    </div>
    <div class="panel-body">
        <h4>The Office Today</h4>
        <b>Dr. Tawnie Bailey</b>,<b> Dr. James Duchow</b> and the team of 12, maintain the high-level of service Alpine Animal Hospital has been 
        known for since its founding in the 1970s. Let our friendly and knowledgeable staff cater to your pet's needs.
        <h4>BIO INFO:</h4>
        <p>
            <b>Dr. Tawnie Bailey</b> grew up in Seattle and knew from a young age that she would either work at a grocery store,
            where all the chocolate lived, or become a veterinarian. Despite her chocolate addictions,
            she chose veterinary medicine and began volunteering at a vet clinic in 1986. She remained at the
            clinic until she graduated from highschool and moved to Pullman to pursue her dreams. In 1996, she graduated with her B.S.
            in Zoology and married Jeff Bailey.
        </p>
        <p>
            After working at a Spokane Valley vet clinic for four years and attending more
            than three years of college at EWU, she finally received the coveted acceptance letter into WSU's veterinary school.
            Dr. Bailey has been practicing at Alpine Animal Hospital since graduating from vet school in 2004. She and her
            husband are constantly trying to entertain their two daughters, two cats, and Golden Retriever.
        </p>

        <p><b>Dr. Jim Duchow</b> grew up in Brookfield, Wisconsin. Upon his graduation from Brookfield East High School, 
        he continued his education at the University of Wisconsin-Madison.  After just three years, Dr. Duchow completed 
        his undergraduate work. In order to achieve his goals of becoming a veterinarian, he decided to attend the veterinary 
        school at UW-Madison immediately following his graduation.  He moved to Coeur d'Alene and has been at alpine since 1995.</p>
        
        <p<b>Dr. DeAnna Barone</b> Orr lives in Palouse, WA with her husband and three kids:  12, 10, and 1.  
        She enjoys reading and hiking and three legged dogs.  Her fur family includes: three dogs, four cats, 
        a horse, and a pet pig (Pignacious!).  She graduated from WSU in 2012 and is very excited to be working in a 
        practice that has the passion and standard of care that she has been searching for.</p>
    </div>
</div>