<div class="panel panel-default">
    <div class="panel-heading">
        <h3>About Us</h3>
    </div>
    <div class="panel-body">
        From routine exams to in and outpatient procedures for dogs, cats, and other household pets, Alpine Animal Hospital of Coeur d'Alene, Idaho, has all your pet's medical needs covered. Let our caring and compassionate professionals provide your pet with the personalized care they deserve.


        <h4>Contact Us</h4>
        At Alpine Animal Hospital, we are more than happy to set up an appointment for your pet to give them the care they need and deserve. To get started, call us at (208) 664-2168 with the date you have in mind, as well as your contact information.
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2685.147511541454!2d-116.7777361847196!3d47.700973589447635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5361c6dee1e49b7f%3A0x67593b7a2257338b!2sAlpine+Animal+Hospital!5e0!3m2!1sen!2sus!4v1479685480323" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>