<div class="panel panel-default">
    <div class="panel-heading ">
        <h3>Vet Services & Dental Care</h3>
    </div>
    <div class="panel-body">
        Your pet is more than an animal, he or she is a part of the family. Keep your companion healthy and happy for a lifetime with vet services and dental care from Alpine Animal Hospital in Coeur d'Alene, Idaho.
        Complete Care for Your Companion
        Animals require annual vet services to not only keep them healthy, but to also extend their lives. At our
        animal hospital, we offer complete medical care, including preventive treatments, wellness exams, vaccines,
        and flea and tick care for canines, felines, or other small animals.
        <h4>Laser Therapy for Pets</h4>
        Our therapy laser provides a deep-penetrating light that allows relief of pain by releasing endorphins and stimulation cells to heal faster. Your pet will relax and enjoy the pain-free treatments.
        <br />
        Laser therapy is effective in treating chronic conditions, acute conditions, and post-surgical pain and inflammation in pets. Whether your pet is rehabilitating from trauma or injury, healing from wounds or simply aging, laser therapy has been shown to provide relief and speed healing.

        <h4>Testing for Allergies</h4>
        It's not uncommon for people to suffer from allergies, and the same goes for your pets. Prevent your pooch or kitty from suffering and bring them to us for the allergy testing.
        After drawing their blood, we test for both airborne and food allergies. Should the tests come back positive, our vets develop a custom treatment and injection monitoring plan for your pet's condition.
        <h4>
            Premium & Prescription
        </h4>
        Maintaining a healthy weight is just as important as vet services. For your peace of mind, our animal hospital offers a variety of premium pet foods by Science Diet 	&trade; and Royal 	&trade;, including prescriptions for diabetes, intestinal conditions, allergy control, weight loss, and kidney issues to keep your pet's weight at an optimal level.
        <h4>
            Caring for Your Pet's Oral Health
        </h4>
        Our vet services don't stop with medical care. At Alpine Animal Hospital, we stress the importance of regular preventive dental care to keep your pet's teeth and gums healthy. Every February is dental health month - don't forget to ask about our specials.
        <h4>
            Animal Boarding
        </h4>
        Next time you need to go on an extended business trip or family vacation, find peace of mind knowing Alpine Animal Hospital offers boarding services just for your dog or cat. Our team has the experience to handle any special medical and feeding needs, so you can enjoy a worry-free trip.
    </div>
</div>