<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Pet Surgery in Coeur d'Alene, Idaho</h2>
    </div><div class="panel-body">
        In addition to providing your pet with exceptional services to help them stay healthy for a lifetime, Alpine Animal Hospital of Coeur d'Alene, Idaho, also offers pet surgery. From routine procedures to complex surgeries, our vets have the experience to do it all.
        Procedures That Prevent
        Like people, pets require different surgical procedures to keep them healthy. Trust the team from our   animal hospital  for your animal companion's pet surgery needs to prevent future health problems.
        Pet Surgery
        <ul class="list-group">
            <li class="list-group-item">Spay & Neuter</li>
            <li class="list-group-item">
                Orthopedic Surgery
            </li>
            <li class="list-group-item">
                Declawing Procedure
            </li>
            <li class="list-group-item">
                Histopathology & Biopsy
            </li>
            <li class="list-group-item">
                Soft Tissue Surgery, including
                Cyst & Lump Removal & More
            </li>
        </ul>
    </div>
</div>