<div class="panel panel-default">
    <div class="panel-heading ">
        <h3>Laser Therapy for Pets</h3>
    </div>
    <div class="panel-body">
        <p>
            Our therapy laser provides a deep-penetrating light that allows relief of pain by releasing endorphins and stimulation cells to heal faster. Your pet will relax and enjoy the pain-free treatments. Effects of laser therapy include accelerated tissue repair and cell growth, faster would healing, reduction in scar tissue, improved vascular activity, improved nerve function, pain relief and anti-inflammation.
        </p><p>
            Laser therapy is effective in treating chronic conditions, acute conditions, and post-surgical pain and inflammation in pets. Whether your pet is rehabilitating from trauma or injury, healing from wounds or simply aging, laser therapy has been shown to provide relief and speed healing.  Laser therapy offers new veterinary treatment options for your pet. This revolutionary approach to veterinary care is safe, comfortable and reliable for optimizing healing and for the treatment of a wide variety of acute and chronic veterinary conditions.

        </p>
    </div>
</div>