<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <hr />
            <router-outlet></router-outlet>
            <div id="footer">
                <div class="container footer-text">
                    <div class='row'>
                        <div class="col-sm-3">
                            Hours of Operation:<br />
                            <b>Monday-Friday</b> 8:00 a.m.-5:30 p.m.<br />
                            <b> Saturday</b> 8:30 a.m.-4:00 p.m.<br />
                        </div>
                        <div class="col-sm-4">
                            <div class="fb-follow" data-href="https://www.facebook.com/Alpine-Animal-Hospital-329274600418255/?fref=ts" data-width="300" data-layout="standard" data-size="small" data-show-faces="true"></div>
                        </div>
                        <div class="col-sm-4">
                            24-Hour Emergency Service Available at
                            <a href="http://www.emergencypetcare.org/">
                                Emergency Pet Care
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
