<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Alpine Animal Hospital-Wifi</h3>
    </div>
    <div class="panel-body">
        Enjoy the complimentary Wifi from Alpine. 
        <br />
        Please take a moment to review us on Google or Facebook.
        <div class="container">
            <div class='row'>
                <div class="text-center">
                    <a href="https://goo.gl/sUhPJw"><img src="/img/reviewgoogle.png" width="150" /></a>
                </div>
            </div>
        </div>
        
    </div>

</div>