<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Animal Hospital in Coeur d'Alene, Idaho</h3>
    </div>
    <div class="panel-body">
        <h4>Complete Vet Services</h4>
        Since the early 1970s, Alpine Animal Hospital has offered a wide array of vet services, such as vaccinations, nutrition services, and dental care procedures to small household animals. While the practice has been under new ownership since 2016, the vets, receptionists, technicians, and kennel staff have offered the same first-class care to animals.
        <h4>Pet Surgery</h4>
        For years, pet owners throughout the area have relied on the qualified vets at Alpine Animal Hospital for their pet surgery needs. From routine practices, such as spaying and neutering to complex orthopedic surgery, we do it all to improve the quality of your pet's life.
        <h4>Experienced Vets</h4>
        Dr. Tawnie Bailey, the   leading vet  and owner of Alpine Animal Hospital, and her associate James Duchow are the area's leading source for pet care services. Backed by more than 60 years of combined experience, the team is ready to provide your animal companion with complete comprehensive care.

    </div>

    <div class="container">
        <div class='row'>
            <div class="text-center">
                <a href="https://goo.gl/sUhPJw"><img src="/img/reviewgoogle.png" width="150"/></a>
            </div>
        </div>
    </div>
</div>