<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Alpine Animal Hospital</h3>
    </div>
    <div class="panel-body">
        <h4>Complete Vet Services</h4>
        Alpine Animal Hospital is the area's leading compassionate veterinary care hospital in Coeur D'Alene.  If you are new to Alpine, ask around and you will find that everyone
        knows that the <a [routerLink]="['/vets']">staff</a> at Alpine Animal hospital is known for their compassionate care of your animals.  We know the how special your pets
        are to you.  In bueiness since the early 70's, and recently under new ownership, Alpine Animal Hospital is where people who want the best care for their animals go.
        <h4>Pet Surgery</h4>
        For years, pet owners throughout the area have relied on the qualified vets at Alpine Animal Hospital for their pet surgery needs. From routine practices, such as spaying and neutering to complex orthopedic surgery, we do it all to improve the quality of your pet's life.
        <h4>Experienced Vets</h4>
        Dr. Tawnie Bailey, the   leading vet  and owner of Alpine Animal Hospital, and her associate James Duchow are the area's leading source for pet care services. Backed by more than 60 years of combined experience, the staff at Alpine is ready to provide your animal companion with complete comprehensive care.

    </div>

    <div class="container">
        <div class='row'>
            <div class="text-center">
                <a href="https://goo.gl/sUhPJw"><img src="/img/reviewgoogle.png" width="150"/></a>
            </div>
        </div>
    </div>
</div>